<div class="cont">
  <form [formGroup]="VehiculeForm" (ngSubmit)="createVehicule()">
    <div>
      <h1>Créer un Véhicule</h1>
    </div>
    <div>
      <div>
        <label>Immatriculation</label>
        <input type="text" formControlName="immatriculation">
      </div>
      <div class="text-red-500" *ngIf="VehiculeForm.get('immatriculation')?.touched && VehiculeForm.get('immatriculation')?.invalid">
        <small *ngIf="VehiculeForm.get('immatriculation')?.errors?.['required']">L'immatriculation est obligatoire.</small>
        <small *ngIf="VehiculeForm.get('immatriculation')?.errors?.['minlength']">Minimum 4 caractères.</small>
        <small *ngIf="VehiculeForm.get('immatriculation')?.errors?.['maxlength']">Maximum 20 caractères.</small>
      </div>
    </div>
    <div>
      <div>
        <label>Marque</label>
        <input type="text" formControlName="marque">
      </div>
      <div class="text-red-500" *ngIf="VehiculeForm.get('marque')?.touched && VehiculeForm.get('marque')?.invalid">
        <small *ngIf="VehiculeForm.get('marque')?.errors?.['required']">La marque est obligatoire.</small>
        <small *ngIf="VehiculeForm.get('marque')?.errors?.['minlength']">Minimum 2 caractères.</small>
        <small *ngIf="VehiculeForm.get('marque')?.errors?.['maxlength']">Maximum 20 caractères.</small>
      </div>
    </div>
    <div class="divInput">
      <label>Modèle</label>
      <input type="text" formControlName="modele" placeholder="ex., Golf 7, Model 3...">

      <div class="text-red-500" *ngIf="VehiculeForm.get('modele')?.touched && VehiculeForm.get('modele')?.invalid">
        <small *ngIf="VehiculeForm.get('modele')?.errors?.['required']">Le modèle est obligatoire.</small>
        <small *ngIf="VehiculeForm.get('modele')?.errors?.['maxlength']">Maximum 40 caractères.</small>
        <small *ngIf="VehiculeForm.get('modele')?.errors?.['pattern']">Caractères invalides détectés.</small>
      </div>
    </div>
    <div class="divInput">
      <label>Année</label>
      <input type="date" formControlName="annee" placeholder="JJ/MM/AAAA">
      <div class="text-red-500" *ngIf="VehiculeForm.get('annee')?.touched && VehiculeForm.get('annee')?.invalid">
        <small *ngIf="VehiculeForm.get('annee')?.errors?.['required']">L'année est obligatoire.</small>
        <small *ngIf="VehiculeForm.get('annee')?.errors?.['min']">L'année doit être 1900 ou ultérieure.</small>
        <small *ngIf="VehiculeForm.get('annee')?.errors?.['max']">L'année ne peut pas être dans le futur.</small>
      </div>
    </div>
    <div>
      <div>
        <label>Kilométrage</label>
        <input type="number" formControlName="kilometrage">
      </div>
      <div class="text-red-500" *ngIf="VehiculeForm.get('kilometrage')?.touched && VehiculeForm.get('kilometrage')?.invalid">
        <small *ngIf="VehiculeForm.get('kilometrage')?.errors?.['required']">Le kilométrage est obligatoire.</small>
        <small *ngIf="VehiculeForm.get('kilometrage')?.errors?.['min']"> Le kilométrage ne peut pas être négatif.</small>
      </div>
    </div>
    <div>
      <div>
        <div>
          <label>Le client est Fictif</label>
          <input type="checkbox" formControlName="clientFictif">
        </div>
        <div class="text-red-500" *ngIf="VehiculeForm.get('clientFictif')?.touched && VehiculeForm.get('clientFictif')?.invalid">
          <small *ngIf="VehiculeForm.get('clientFictif')?.errors?.['required']">La sélection est obligatoire.</small>
          <small *ngIf="VehiculeForm.get('clientFictif')?.errors?.['minlength']">Minimum 4 caractères.</small>
          <small *ngIf="VehiculeForm.get('clientFictif')?.errors?.['maxlength']">Maximum 20 caractères.</small>
        </div>
      </div>
    </div>
    <div>
      <button type="submit" [disabled]="VehiculeForm.invalid">Créer le Véhicule</button>
    </div>
  </form>
</div>
