<div>
  <h1>Connexion</h1>
  <form [formGroup]="loginForm" (ngSubmit)="Login()">
    <div class="divInput">
      <div>
        <label class="flex items-center">Adress Email</label>
        <input type="email" formControlName="email" >
      </div>
      <small *ngIf="loginForm.hasError('invalidCredentials')" class="text-danger" style="color: red;">
        Email ou mot de passe incorrect.
      </small>
      <div class="text-red-500" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
      </div>
    </div>

    <div class="PasswordDiv">
      <label>Mot de passe</label>
      <input type="password" formControlName="password">
      <div class="text-red-500" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est obligatoire.</small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum 6 caractères.</small>
        <small *ngIf="loginForm.get('password')?.errors?.['maxlength']">Maximum 20 caractères.</small>
      </div>
    </div>
    <section>
      <span>Vous n'avez pas de compte?</span>
      <a routerLink="/register">Créer un compte</a>
    </section>
    <button type="submit" [disabled]="loginForm.invalid"
    class="py-1 px-4 bg-green-500 m-2 rounded shadow">
      Submit
    </button>
  </form>
</div>

