<div class="dashboard">

  @if (loading()) {
    <div class="loading-state">
      <span class="material-symbols-outlined">donut_large</span>
      <span>Chargement des statistiques...</span>
    </div>
  }
  @if (stats(); as s) {
    <div class="stats-grid">

      <div class="stat-card total-card">
        <div class="stat-card-top">
          <h1>Recu Aujourdhui</h1>
          <span class="material-symbols-outlined">calendar_today</span>
        </div>
        <p class="stat-number">{{ s.recuesAujourdhui }}</p>
      </div>

      <div class="stat-card diagnostic-card">
        <div class="stat-card-top">
          <h1>En Diagnostique</h1>
          <span class="material-symbols-outlined">car_repair</span>
        </div>
        <p class="stat-number">{{ s.enDiagnostic }}</p>
      </div>

      <div class="stat-card repair-card">
        <div class="stat-card-top">
          <h1>En Réparation</h1>
          <span class="material-symbols-outlined">car_repair</span>
        </div>
        <p class="stat-number">{{ s.enReparation }}</p>
      </div>

      <div class="stat-card finished-card">
        <div class="stat-card-top">
          <h1>terminées</h1>
          <span class="material-symbols-outlined">assignment_turned_in</span>
        </div>
        <p class="stat-number">{{ s.terminees }}</p>
      </div>

    </div>

  }
</div>
