<div class="container">

  <header class="flex items-center justify-between text-sm px-6">
    <div>
      <h2>Liste des Mécaniciens</h2>
    </div>

    <div class="w-full sm:w-64">
      <label>
        <select
          (change)="onDisponibiliteChange($event)"
          class="w-full px-4 py-2 border border-slate-200 rounded-xl bg-white focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none text-sm text-slate-700 cursor-pointer shadow-sm"
        >
          <option value="" selected>Tous les mécaniciens</option>
          <option value="disponible">Mécaniciens Disponibles</option>
          <option value="non_disponible">Mécaniciens Non Disponibles</option>
        </select>
      </label>
    </div>

    <div class="w-full sm:w-64">
      <label>
        <select
          (change)="onSpecialiteChange($event)"
          class="w-full px-4 py-2 border border-slate-200 rounded-xl bg-white focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none text-sm text-slate-700 cursor-pointer shadow-sm"
        >
          <option value="" selected>Toutes les spécialités</option>
          @for (specialite of specialities; track specialite) {
          <option [value]="specialite">
            {{ specialite }}
          </option>
          }
        </select>
      </label>
    </div>

    <div routerLink="/mecaniciens/create">
      <button type="button"
              class="flex font-semibold gap-2 items-center justify-center py-2 px-4 bg-black text-white rounded-md hover:bg-gray-800"
      >
        <span class="material-symbols-outlined">add</span>
        <p>Créer Mécanicien</p>
      </button>
    </div>
  </header>

  <main>
    @if (Mecaniciens().length === 0) {
    <p class="empty-message">Aucun mécanicien trouvé.</p>
    } @else {
    <table class="mecano-table">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Spécialité</th>
        <th>Disponibilité</th>
        <th>Charge (Tâches)</th>
        <th>Opérations</th>
      </tr>
      </thead>
      <tbody>
      @for (mecano of Mecaniciens(); track mecano.id) {
      <tr>
        <td>{{ mecano.nom }}</td>
        <td>{{ mecano.specialite }}</td>
        <td>
          @if (mecano.disponible) {
          <span class="badge disponible">Disponible</span>
          } @else {
          <span class="badge occupe">Occupé</span>
          }
        </td>
        <td>
            <span class="font-semibold text-slate-700">
              {{ mecano.interventions?.length ?? 0 }}
            </span>
        </td>

        <td class="flex gap-4">
          <button [disabled]="mecano.disponible" type="button" (click)="deleteMecanicien(mecano.id)" class="text-red-500 hover:cursor-pointer disabled:text-gray-400 disabled:cursor-not-allowed">
            <span class="material-symbols-outlined">delete</span>
          </button>
          <button class="text-blue-500">
            <span class="material-symbols-outlined">update</span>
          </button>

          <div class="relative flex items-center p-1 bg-slate-200/80 rounded-full w-44 select-none">
            <div
              [ngClass]="mecano.disponible ? 'translate-x-0' : 'translate-x-[84px]'"
              class="absolute top-1 bottom-1 left-1 w-[88px] bg-white rounded-full shadow-sm transition-transform duration-300 ease-out pointer-events-none"
            ></div>
            <button
              type="button"
              (click)="!mecano.disponible && toggleStatut(mecano)"
              [ngClass]="mecano.disponible ? 'text-slate-800 font-extrabold' : 'text-slate-500 font-bold'"
              class="relative z-10 w-[88px] py-1 text-[11px] tracking-wider text-center transition-colors duration-200 focus:outline-none"
            >
              Activer
            </button>
            <button
              type="button"
              (click)="mecano.disponible && toggleStatut(mecano)"
              [ngClass]="!mecano.disponible ? 'text-slate-800 font-extrabold' : 'text-slate-500 font-bold'"
              class="relative z-10 w-[88px] py-1 text-[11px] tracking-wider text-center transition-colors duration-200 focus:outline-none"
            >
              Désactiver
            </button>
          </div>
        </td>
      </tr>
      }
      </tbody>
    </table>
    }
  </main>

</div>
