<section>

  <header>
    <div class="title">
      <div>
        <p>Liste des interventions</p>
      </div>
      <div routerLink="/interventions/create">
        <button>
          <span class="material-symbols-outlined">add</span>
          <p>Creer Interventions</p>
        </button>
      </div>
    </div>

    <div class="dashboard">
      <div>
        <span class=""></span>
        <p>Total Interventions </p>
        <p>{{ totalInterventions() }}</p>
      </div>
      <div>
        <span class=""></span>
        <p>Total Reparations </p>
        <p>{{ totalReparations() }}</p>
      </div>
      <div>
        <span class=""></span>
        <p>Total Diagnostics </p>
        <p>{{ totalDiagnostics() }}</p>
      </div>
      <div>
        <p>cout Total Estime</p>
        <span>{{ coutTotalEstime() }} DHs</span>
      </div>
    </div>


    <div>
      <label>
        <input type="search" (input)="searchInterventions($any($event.target).value)" placeholder="Rechercher...">
      </label>
      <label>
        <select
          (change)="onTypeChange($event)"
          class="px-4 py-2 border border-gray-300 rounded-lg"
        >
          <option value="">Tous les types</option>

          @for (type of typesInterventions; track type) {
          <option [value]="type">
            {{ type }}
          </option>
          }
        </select>
      </label>
      <button type="submit" (click)="loadInterventions()" >Renisaliser</button>
    </div>
  </header>



  <main>
    @for (intervention of interventions(); track intervention.id) {
        <div class="containerIntervention p-4">

          <div class="flex gap-5">
            <h3>{{ intervention.type }} </h3>
            <p> {{ intervention.status }} </p>
            <p> {{ intervention .priorite }} </p>
          </div>

          <div>
            <p> Description : {{ intervention.description }} </p>
            <p> Diagnostic : {{ intervention.diagnostic }} </p>
          </div>

          <div>
            <label>
              <input
                type="number"
                min="0"
                [value]="intervention.coutEstime ?? 0"
                (change)="setCoutEstime(intervention.id, $any($event.target).value)"
                placeholder="0"
              >
            </label>
            <span>DH</span>
          </div>

          <div>
            <p>Date Depot : {{ intervention.dateDepot | date:'dd/MM/yyyy HH:mm' }}</p>
            <p>Date Restitution :
              @if (intervention.dateRestitutionPrevue && !intervention.dateRestitutionPrevue.toString().startsWith('+')) {
              {{ intervention.dateRestitutionPrevue | date:'dd/MM/yyyy' }}
              } @else {
              <span class="text-red-500 font-semibold">Non définie / En cours</span>
              }
            </p>
            <p>Date Cloture : {{ intervention.dateCloture | date:'dd/MM/yyyy HH:mm' }}</p>
          </div>


          <div class="ListButtons flex items-center gap-2">
            @if (intervention.status.toString() === 'EN_REPARATION') {
            <button
              type="button"
              (click)="terminerIntervention(intervention.id)"
              class="action-btn finish-btn"
            >
              Terminer
            </button>
            }

            @if (intervention.status.toString() === 'TERMINEE') {
            <button
              type="button"
              (click)="restituer(intervention.id)"
              class="action-btn return-btn"
            >
              Restituer
            </button>
            }
            @if (intervention.status.toString() === 'RECUE' && !intervention.diagnostic ) {
            <button
              type="button"
              (click)="addDiagnostic(intervention.id, intervention.diagnostic )"
              class="action-btn diagnostic-btn">
              Ajouter Diagnostic
            </button>
            }

            @if (intervention.status.toString() !== 'TERMINEE') {
            <div class="assignment-container">
              @let disponibles = getMecaniciensDisponibles();
              <label for="mecanicien-select">Affecter un mécanicien :</label>
              <select
                id="mecanicien-select"
                [value]="intervention.mecanicien?.id || ''"
                [disabled]="disponibles.length === 0"
                (change)="assignMecanicien(intervention.id, $event)">

                @if (disponibles.length === 0) {
                <option value="" selected disabled>Aucun mécanicien disponible</option>
                } @else {
                <option value="" disabled selected>Choisir un mécanicien libre</option>

                @for (mecanicien of disponibles; track mecanicien.id) {
                <option [value]="mecanicien.id">Nom : {{ mecanicien.nom }}</option>
                  }
                }
              </select>
            </div>
            }


          </div>

        </div>
    } @empty {
    <p>Aucune intervention trouvée.</p>
    }

  </main>
</section>
