<div class="users-page">
  <header class="users-header p-4">
    <div>
      <h1>Utilisateurs </h1>
      <h2 class="text-rose-500">{{ Utilisateurs().length }}</h2>
    </div>
    <div>
      <h1>Utlisateurs On Shipmment</h1>
      <h2>{{ counterEnabled() }}</h2>
    </div>
    <div>
      <h1>Utlisateurs Available</h1>
      <h2>{{ coutNonEnabled() }}</h2>
    </div>
    <button routerLink="/utilisateurs/create">
      <span class="material-symbols-outlined">add</span>
      <p>new Utilisateur</p>
    </button>
  </header>

  <div class="table-container">
    <div class="responsive-wrapper">
      <table class="users-table">
        <thead>
        <tr>
          <th>LOGO</th>
          <th>Status</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          @for (user of Utilisateurs(); track user.id) {
            <tr>
              <td class="col-avatar">
                <div class="avatar-logo">
                  {{ user.prenom?.charAt(0)?.toUpperCase() }}{{ user.nom?.charAt(0)?.toUpperCase() }}
                </div>
              </td>
              <td>
                <span class="badge-status" [ngClass]="user.enabled ? 'shipment' : 'available'">
                  {{ user.enabled ? 'On Shipment' : 'Available' }}
                </span>
              </td>
              <td class="col-name">
                {{ user.prenom }} {{ user.nom }}
              </td>
              <td class="col-email">
                {{ user.email }}
              </td>
              <td class="col-roles">
                <div class="roles-wrapper">
                  @for (role of user.role; track role) {
                    <span class="role-text">{{ role }}</span>
                  }
                </div>
              </td>
              <td>
                <div class="actions-wrapper">
                  <div class="relative inline-flex items-center p-1 bg-slate-200/80 rounded-full w-44 select-none">
                    <div
                      [ngClass]="user.enabled ? 'translate-x-0' : 'translate-x-[84px]'"
                      class="absolute top-1 bottom-1 left-1 w-[88px] bg-white rounded-full shadow-sm transition-transform duration-300 ease-out pointer-events-none"
                    ></div>

                    <button
                      type="button"
                      (click)="!user.enabled && changeStatutUtilisateur(user.id!, true)"
                      [ngClass]="user.enabled ? 'text-slate-800 font-extrabold' : 'text-slate-500 font-bold'"
                      class="relative z-10 w-[88px] py-1 text-[11px] tracking-wider text-center transition-colors duration-200 focus:outline-none"
                    >
                      Activer
                    </button>

                    <button
                      type="button"
                      (click)="user.enabled && changeStatutUtilisateur(user.id!, false)"
                      [ngClass]="!user.enabled ? 'text-slate-800 font-extrabold' : 'text-slate-500 font-bold'"
                      class="relative z-10 w-[88px] py-1 text-[11px] tracking-wider text-center transition-colors duration-200 focus:outline-none"
                    >
                      Désactiver
                    </button>
                  </div>
                  <button type="button" class="btn-delete" (click)="deleteUtilisateur(user.id!)" >
                    <span class="material-symbols-outlined">delete</span>
                  </button>
                  <button type="button" [routerLink]="['/utilisateurs/update', user.id]">
                    <span class="material-symbols-outlined">edit</span>
                  </button>
                  <button type="button" [routerLink]="['/profile', user.id]" class="text-blue-500">
                    <span class="material-symbols-outlined">account_circle</span>
                  </button>
                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="8" class="empty-row">
                Aucun utilisateur trouvé dans le système.
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
