<div class="container">
  <form [formGroup]="RegisterForm" (ngSubmit)="register()">
    <div>
      <h1>Créer votre compte</h1>
    </div>

    <div>
      <div>
        <label>Nom</label>
        <input type="text" formControlName="nom" placeholder="Nom">
      </div>
      <div class="text-red-500" *ngIf="RegisterForm.get('nom')?.touched && RegisterForm.get('nom')?.invalid">
        <small *ngIf="RegisterForm.get('nom')?.errors?.['required']">Le nom est obligatoire.</small>
        <small *ngIf="RegisterForm.get('nom')?.errors?.['minlength']">Minimum 6 caractères.</small>
        <small *ngIf="RegisterForm.get('nom')?.errors?.['maxlength']">Maximum 20 caractères.</small>
      </div>
    </div>

    <div>
      <div>
        <label>Prénom</label>
        <input type="text" formControlName="prenom" placeholder="Prénom">
      </div>
      <div class="text-red-500" *ngIf="RegisterForm.get('prenom')?.touched && RegisterForm.get('prenom')?.invalid">
        <small *ngIf="RegisterForm.get('prenom')?.errors?.['required']">Le prénom est obligatoire.</small>
        <small *ngIf="RegisterForm.get('prenom')?.errors?.['minlength']">Minimum 6 caractères.</small>
        <small *ngIf="RegisterForm.get('prenom')?.errors?.['maxlength']">Maximum 20 caractères.</small>
      </div>
    </div>

    <div>
      <div>
        <label>Adresse Email</label>
        <input type="email" formControlName="email" placeholder="ex., john.doe@mail.com">
      </div>
      <div class="text-red-500" *ngIf="RegisterForm.get('email')?.hasError('emailExists')">
        <small>Cet email est déjà enregistré.</small>
      </div>
      <div class="text-red-500" *ngIf="RegisterForm.get('email')?.touched && RegisterForm.get('email')?.invalid">
        <small *ngIf="RegisterForm.get('email')?.errors?.['required']">L'email est obligatoire.</small>
        <small *ngIf="RegisterForm.get('email')?.errors?.['email']">Format d'email invalide.</small>
      </div>
    </div>

    <div>
      <div>
        <label>Mot de passe</label>
        <input type="password" formControlName="password" placeholder="••••••••">
      </div>
      <div class="text-red-500" *ngIf="RegisterForm.get('password')?.touched && RegisterForm.get('password')?.invalid">
        <small *ngIf="RegisterForm.get('password')?.errors?.['required']">Le mot de passe est obligatoire.</small>
        <small *ngIf="RegisterForm.get('password')?.errors?.['minlength']">Minimum 6 caractères.</small>
        <small *ngIf="RegisterForm.get('password')?.errors?.['maxlength']">Maximum 30 caractères.</small>
      </div>
    </div>
    <section>
      <div>
        <span>Vous avez déjà un compte ?</span>
        <a routerLink="/login">Se connecter</a>
      </div>
    </section>
    <div>
      <button type="submit" [disabled]="RegisterForm.invalid">Créer le compte</button>
    </div>
  </form>
</div>
