<div>
  <form [formGroup]="MecanicienForm" (ngSubmit)="createMecanicien()">
    <div>
      <h1>Créer un Mécanicien</h1>
    </div>

    <div>
      <div>
        <label>Nom</label>
        <input type="text" formControlName="nom">
      </div>
      <div class="text-red-500" *ngIf="MecanicienForm.get('nom')?.touched && MecanicienForm.get('nom')?.invalid">
        <small *ngIf="MecanicienForm.get('nom')?.errors?.['required']">Le nom est obligatoire.</small>
        <small *ngIf="MecanicienForm.get('nom')?.errors?.['minlength']">Minimum 3 caractères.</small>
        <small *ngIf="MecanicienForm.get('nom')?.errors?.['maxlength']">Maximum 50 caractères.</small>
      </div>
    </div>

    <div>
      <div>
        <label>Spécialité</label>
        <select formControlName="specialite">
          <option value="" disabled selected>Sélectionnez une spécialité</option>
          <option value="MECANIQUE_GENERALE">MÉCANIQUE GÉNÉRALE</option>
          <option value="CARROSSERIE">CARROSSERIE</option>
          <option value="ELECTRICITE_ELECTRONIQUE">ÉLECTRICITÉ ÉLECTRONIQUE</option>
          <option value="DIAGNOSTIC">DIAGNOSTIC</option>
          <option value="PNEUMATIQUE">PNEUMATIQUE</option>
        </select>
      </div>
      <div class="text-red-500" *ngIf="MecanicienForm.get('specialite')?.touched && MecanicienForm.get('specialite')?.invalid">
        <small *ngIf="MecanicienForm.get('specialite')?.errors?.['required']">La spécialité est obligatoire.</small>
      </div>
    </div>

    <div>
      <div>
        <div>
          <label>Disponible pour le service</label>
          <input type="checkbox" formControlName="disponible">
        </div>
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="MecanicienForm.invalid">Enregistrer le Mécanicien</button>
    </div>
  </form>
</div>
