<div class="cont">
  <form [formGroup]="InterventionForm" (ngSubmit)="createIntervention()">
    <div>
      <h1>Créer une Intervention</h1>
    </div>

    <div>
      <label>ID du Véhicule</label>
      <input type="number" formControlName="vehicule" placeholder="ex., 12">
      <div class="text-red-500" *ngIf="InterventionForm.get('vehicule')?.touched && InterventionForm.get('vehicule')?.invalid">
        <small *ngIf="InterventionForm.get('vehicule')?.errors?.['required']">La sélection du véhicule est obligatoire.</small>
      </div>
    </div>

    <div>
      <label>Type d'Intervention</label>
      <select formControlName="type">
        <option value="" disabled selected>Sélectionnez un type</option>
        <option value="REPARATION">RÉPARATION</option>
        <option value="DIAGNOSTIC">DIAGNOSTIC</option>
        <option value="ENTRETIEN">ENTRETIEN</option>
      </select>
      <div class="text-red-500" *ngIf="InterventionForm.get('type')?.touched && InterventionForm.get('type')?.invalid">
        <small *ngIf="InterventionForm.get('type')?.errors?.['required']">Le type d'intervention est obligatoire.</small>
      </div>
    </div>

    <div>
      <label>Description</label>
      <input type="text" formControlName="description" placeholder="Décrivez le problème du véhicule...">
      <div class="text-red-500" *ngIf="InterventionForm.get('description')?.touched && InterventionForm.get('description')?.invalid">
        <small *ngIf="InterventionForm.get('description')?.errors?.['required']">La description est obligatoire.</small>
      </div>
    </div>

    <div>
      <label>Diagnostic Initial</label>
      <input type="text" formControlName="diagnostic" placeholder="ex., Ratés d'allumage moteur détectés...">
    </div>

    <div>
      <label>Statut</label>
      <select formControlName="status">
        <option value="" disabled selected>Sélectionnez un statut</option>
        <option value="RECUE">REÇUE</option>
        <option value="DIAGNOSTIC_EN_COURS">DIAGNOSTIC EN COURS</option>
        <option value="DEVIS_A_VALIDER">DEVIS À VALIDER</option>
        <option value="EN_REPARATION">EN RÉPARATION</option>
        <option value="TERMINER">TERMINER</option>
        <option value="RESTITUEE">RESTITUÉE</option>
        <option value="ANNULEE">ANNULÉE</option>
      </select>
      <div class="text-red-500" *ngIf="InterventionForm.get('status')?.touched && InterventionForm.get('status')?.invalid">
        <small *ngIf="InterventionForm.get('status')?.errors?.['required']">Le statut est obligatoire.</small>
      </div>
    </div>

    <div>
      <label>Priorité</label>
      <select formControlName="priorite">
        <option value="" disabled selected>Sélectionnez une priorité</option>
        <option value="BASSE">BASSE</option>
        <option value="MOYENNE">MOYENNE</option>
        <option value="HAUTE">HAUTE</option>
      </select>
      <div class="text-red-500" *ngIf="InterventionForm.get('priorite')?.touched && InterventionForm.get('priorite')?.invalid">
        <small *ngIf="InterventionForm.get('priorite')?.errors?.['required']">Le niveau de priorité est obligatoire.</small>
      </div>
    </div>

    <div>
      <label>Coût Estimé (DHs)</label>
      <input type="number" formControlName="coutEstime">
      <div class="text-red-500" *ngIf="InterventionForm.get('coutEstime')?.touched && InterventionForm.get('coutEstime')?.invalid">
        <small *ngIf="InterventionForm.get('coutEstime')?.errors?.['required']">Le coût estimé est obligatoire.</small>
        <small *ngIf="InterventionForm.get('coutEstime')?.errors?.['min']">Le coût ne peut pas être négatif.</small>
      </div>
    </div>

    <div>
      <label>Date de Dépôt</label>
      <input type="date" formControlName="dateDepot">
      <div class="text-red-500" *ngIf="InterventionForm.get('dateDepot')?.touched && InterventionForm.get('dateDepot')?.invalid">
        <small *ngIf="InterventionForm.get('dateDepot')?.errors?.['required']">La date de dépôt est obligatoire.</small>
      </div>
    </div>

    <div>
      <label>Date de Restitution Prévue</label>
      <input type="date" formControlName="dateRestitutionPrevue">
      <div class="text-red-500" *ngIf="InterventionForm.get('dateRestitutionPrevue')?.touched && InterventionForm.get('dateRestitutionPrevue')?.invalid">
        <small *ngIf="InterventionForm.get('dateRestitutionPrevue')?.errors?.['required']">La date de restitution prévue est obligatoire.</small>
      </div>
    </div>
    <div>
      <div>
        <label for="dateCloture">Date de clôture *</label>
        <input type="datetime-local" formControlName="dateCloture" />
      </div>
      <div *ngIf="InterventionForm.get('dateCloture')?.invalid && InterventionForm.get('dateCloture')?.touched">
        <small *ngIf="InterventionForm.get('dateCloture')?.errors?.['required']">
          La date de clôture est obligatoire.
        </small>
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="InterventionForm.invalid">Créer l'Intervention</button>
    </div>
  </form>
</div>
